.color1 {
  color:cyan;
}
.color2 {
  color:gold;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.right  {
  text-align: right;
}

.left  {
  text-align: right;
}

.small {
  font-size:0.8em !important;
}

.reveal pre {

  font-size: 0.50em;
  width:100%;
}

.reveal .slides { 
  width: 1280px !important; 
} 
